---
layout: layouts/base.njk
title: Code in the Dark, 15.2.2024
description: Join us for a fun night of writing HTML and CSS
---

<div class="citd">
  <img src="/assets/img/codeinthedark.png" alt="" class="citd-logo" />
  <h1>Code in the Dark, 15.2.2024</h1>

  <p>
    We are organizing a
    <a href="http://codeinthedark.com/">Code in the Dark</a> event on Thursday,
    February 15th 2024 17-20.30 and you're invited to join!
  </p>

  <h2>What's Code in the Dark?</h2>

  <p>
    Code in the Dark is a fun programming competition where teams of developers
    aim to replicate given screenshots with just HTML, CSS and assets within a
    short time frame - with a twist.
  </p>
  <p>
    What makes this event so unique is that during the development of the
    challenges, developers cannot preview their output. They are,
    <em>in the dark</em>.
  </p>
  <p>
    Each round lasts 15 minutes and at the end of it, the audience gets to vote
    which team managed to do the best job. We have a round of applauds, maybe a
    few laughs at the unintentional tiny mistakes that completely wreck the
    layout and then we move on to the next round.
  </p>
  <p>
    Developers' screens are mirrored so that the audience sees everything the
    developers are writing in real time.
  </p>
  <p>
    While Code in the Dark is technically a competition, it's not that serious.
  </p>

  <h2>How you can join?</h2>

  <p>
    You can join the event either by finding some friends and signing up as a
    team of 2-3 people via
    <a href="https://forms.gle/ot3tdpnzoopsiQwU6">this Google form</a> or you
    can join as a member of the audience via
    <a href="https://meetabit.com/events/turku-3-frontend-code-in-the-dark-2024"
      >Meetabit</a
    >.
  </p>

  <h2>Partners</h2>

  <p>
    This event is made possible by the support of
    <a href="https://sparkup.businessturku.fi/en/">SparkUp</a>,
    <a href="https://www.kipina.fi/">Kipinä Software</a> and
    <a href="https://www.arado.fi/">Arado</a>. Huge thanks to all of them for
    helping us make this event a reality.
  </p>
</div>
