---
layout: layouts/base.njk
title: HTML Day 2026 in Turku, Finland
description: Join us to celebrate the wonderful technology known as HTML
featured_image: /assets/img/html-day-2026.webp
---

<div class="single-page">
  <h1>HTML Day 2026</h1>

  <p>
    <a href="https://html.energy/events.html">HTML Day</a> is an annual
    celebration of the language we use to write our websites in. This year,
    Turku ❤️ Frontend organises an event to gather together everyone interested
    in HTML for a collaborative fun day.
  </p>

  <p>
    <strong
      >Saturday, August 8th, 2026 13.00—15.00 with post-event drinks &
      discussions somewhere nearby.</strong
    >
  </p>
  <p>
    The venue is still TBD. If your company would like to host us, get in touch!
  </p>

  <h2>Agenda</h2>

  <p>
    There are
    <a
      href="https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements"
      >so many wonderful tags</a
    >
    and we're inviting you to share your favourites in 5 minute lightning talks
    — or join to listen other share their stories.
  </p>
  <p>
    The content and style is free for you to pick: you can do a quick primer to
    how the tag works or tell a story of how using that tag helped you build
    something wonderful or you can share the best memes about it.
  </p>

  <h2>Registration</h2>

  <p>
    {#
    Register to the event in
    <a href="https://www.meetabit.com/events/turku-3-frontend-html-day-2026"
      >Meetabit</a
    >. #}

    Registration opens later in <a href="https://www.meetabit.com/communities/turku-3-frontend">Meetabit</a>.
  </p>
  <p>
    If you want to give a lightning talk, let Juhis know either via
    <a
      href="mailto:&#x6a;&#x75;&#x68;&#x69;&#x73;&#x40;&#x74;&#x75;&#x72;&#x6b;&#x75;&#x66;&#x72;&#x6f;&#x6e;&#x74;&#x65;&#x6e;&#x64;&#x2e;&#x66;&#x69;"
      >email</a
    >
    or in Turku ❤️ Frontend Slack or Turku Dev Discord or wherever you find him
    in the streets of Turku.
  </p>
</div>
