---
layout: layouts/base.njk
---
  {% include 'introduction.njk' %}
  <hr />
  {% include 'video.njk' %}
  <hr />
  {% include 'events.njk' %}
  <hr />
  {% include 'sponsors.njk' %}
  <hr />
  {% include 'team.njk' %}
