<section>
  <h2>Summer break</h2>
  <div class="event-container">
    <p>
      It's time to enjoy the summer break. We'll be back with more meetups in
      the fall.
    </p>
  </div>
  <div style="text-align: center">
    <a href="{{ '/history' | url }}">full history</a>
  </div>
</section>
