<section>
  <h2>Fall 2023</h2>
  <div class="event-container">
    <div>
      <li>27.9. @ Loikka</li>
      <li>25.10. @ TBA</li>
      <li>29.11. @ TBA</li>
      <li>13.12. @ TBA</li>
    </div>
  </div>
  <div style="text-align: center">
    <a href="{{ '/history' | url }}">full history</a>
  </div>
</section>
