<section>
  <h2>Summer 2024</h2>
  <div style="max-width: 800px; margin: auto">
    <img
      src="/assets/img/summer-break.jpg"
      alt="Car drifting from highway to a ramp with sign that says 'Summer break'"
      style="margin: auto"
    />
    <p style="text-align: center; font-size: 1.2em; margin: 1em 0">
      We're on a summer break. Meetups continue Wed 25.9.2024.
    </p>
  </div>
  <div style="text-align: center">
    <a href="{{ '/history' | url }}">full history</a>
  </div>
</section>
