<div class="introduction">
  <h1>Welcome to Turku ❤️ Frontend</h1>
  <p>
    We are a community of developers, students, hobbyists and curious who share
    an interest for front end development in <strong>Turku, Finland</strong>.
  </p>
  <p>
    We organize monthly meetups, hackathons, programming competitions and other
    gatherings to promote positive developer culture. Our doors are open for
    everyone. To sign up for our events,
    <a href="https://meetabit.com/communities/turku-3-frontend"
      >register at Meetabit</a
    >.
  </p>
  <!--<p>
    We also have a
    <a href="https://turkufrontend.fly.dev/" target="_blank">Slack group</a> you
    can join to stay in touch with fellow developers between our events and to
    be amongst the first to hear about new activities.
  </p>-->
  <p>
    Our meetups would not be possible without
    <a href="{{ '/hall-of-fame' | url }}"> our amazing speakers </a>so thank you
    everyone who have shared your knowledge and experiences.
  </p>
  <p>
    Please note that everyone on our meetups is expected to act in accordance
    with the <a href="{{ '/code-of-conduct' | url }}">Code of Conduct</a> so we
    can build a community that is open and welcoming to everyone.
  </p>
</div>
