{% set meta_title = "Turku ❤️ Frontend" %} {% set meta_description = "Community
for frontend developers in Turku, Finland" %}

<meta name="author" content="Turku ❤️ Frontend" />
<meta
  name="description"
  content="Community for frontend developers in Turku, Finland"
/>

<meta property="og:site_name" content="Turku ❤️ Frontend" />
<meta property="og:title" content="{{ title or meta_title}}" />
<meta property="og:description" content="{{description or meta_description}}" />
<meta property="og:url" content="https://turkufrontend.fi" />
<meta property="og:locale" content="en-US" />
<meta property="og:image" content="/assets/img/share-banner.png" />

<link rel="me" href="https://mastodo.fi/@turkufrontend" />
