<section>
  <h2>We are working with</h2>
  <ul id="sponsors" aria-role="list">
    {% for sponsor in sponsors %}
    <li>{{ sponsor | formatSponsorLogo | safe }}</li>
    {% endfor %}
  </ul>
</section>
