/* 
CSS Reset from Josh W. Comeau 
https://www.joshwcomeau.com/css/custom-css-reset/
*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* Our CSS */
body {
  font-family: "Source Sans Pro", sans-serif;
}
main {
  padding: 1em;
  margin-bottom: 2em;
}

h2 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 900;
}

.heart {
  color: red;
}

#events {
  list-style: none;
}

#sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  gap: 10%;
  max-width: 1200px;
  margin: auto;
}

#sponsors img {
  max-width: 150px;
  width: 100%;
}

.profile {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #ccc;
  border-radius: 10%;
  box-shadow: 10px 5px 5px #ccc;
}

#team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5em;
  row-gap: 1.5em;

  padding: 1.5em 0;
}

@media screen and (max-width: 1100px) {
  .profile {
    max-width: 450%;
    width: 45%;
  }
}

@media screen and (max-width: 538px) {
  .profile {
    max-width: 100%;
    width: 100%;
  }
}

.profile--inner {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile--portrait {
  width: 100%;
  border-radius: 10% 10% 0 0;
  margin: 0;
  box-shadow: 3px 5px 5px #ccc;
}

.profile--name {
  flex-grow: 1;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

.profile--title {
  flex-grow: 1;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5em;
}

.profile--links {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  margin-top: auto;
  align-items: end;
  height: 100%;
}

#team .profile--links img {
  max-width: 30px;
  min-width: 30px;
  border-radius: 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer {
  background: #283648;
  color: white;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
}

footer h2 {
  text-transform: uppercase;
}

footer .container {
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
footer .container span {
  display: inline-block;
  width: 40px;
  margin: 2rem;
}

footer .container svg {
  fill: #fff;
}

footer .contact {
  text-align: center;
}

footer .contact a,
footer .contact a:visited,
footer .contact a:hover {
  color: white;
}

#video {
  display: flex;
  justify-content: center;
  margin: 1em;
}

@media screen and (min-width: 616px) {
  #video iframe {
    box-shadow: 5px 5px 5px #ccc;
    border: 5px solid black;
    border-radius: 10px;
  }
}

.event-container {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding: 1em;
}

.introduction {
  font-size: 1.5em;
  padding: 1em;
  max-width: 80ch;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin: auto;
}

.introduction a {
  font-weight: 700;
}

#wrapper {
  display: flex;
  justify-content: center;
}
#coc {
  max-width: 80ch;
  padding: 1em;
}

#coc h2 {
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 1em;
  margin-top: 1em;
}

#coc p {
  margin-bottom: 1em;
}

header {
  height: 300px;
  max-height: 50vh;
  background: url("/assets/img/banner.png") no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-size: cover;
  background-position: 0;
}

header img {
  max-height: 100%;
  margin: auto;
}

h1 {
  text-align: center;
}

#speakers {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#speakers .gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

#speakers .content {
  max-width: 80ch;
  margin: 1em auto;
}

#speakers .content .alert {
  font-size: 1em;
  font-style: italic;
  padding: 1em 2em;
}
#speakers p {
  font-size: 1.5em;
  padding: 1em;
}

.speaker {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.speaker {
  max-width: 250px;
  border-radius: 10% 10% 0 0;
  margin: 0;
  box-shadow: 3px 5px 5px #ccc;
}

.speaker img {
  border-radius: 10% 10% 0 0;
}

#speakers .speaker p {
  text-align: center;
  font-weight: 700;
  padding: 1em;
  font-size: 1em;
}

.back-home {
  text-align: center;
}

#speakers h1 {
  font-size: 3em;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#history {
  display: flex;
  justify-content: center;
}

#history h1 {
  font-size: 3em;
}

.timeline-container {
  max-width: 120ch;
}

.timeline-event {
  margin: 1em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
  max-width: 80ch;
}

.timeline-date {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline-talks {
  font-size: 1.3em;
  margin: 1em;
}

.timeline-host {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.timeline-host img {
  width: 100px;
}

.timeline-header {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
}

.timeline-special {
  margin-top: 1em;
}

a.timeline {
  text-align: center;
}

#history .lead {
  margin-top: 2em;
}

div.citd {
  max-width: 80ch;
  margin: auto;
}

.citd h1 {
  font-size: 3em;
  margin: 0.75em 0;
}

.citd p {
  font-size: 1.5em;
  margin: 0.75em 0;
}

.citd :is(h2, h3, h4) {
  margin: 0.75em 0;
}

img.citd-logo {
  max-width: 300px;
  margin: auto;
  background: black;
  padding: 1em 4em;
}
